.view {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.side-bar {
  background-color: #f4d06f;

  width: 15vw;
  height: inherit;
}
.content {
  width: 85vw;
  height: inherit;
}
#sidebar-wrapper .sidebar-heading {
  padding: 14px 0px;
  padding-left: 4vw;
}
