hr {
  color: black;
}
.signout-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-bar-link {
  background-color: #ff9f1c;
}
.side-bar-logo {
  width: 30px;
  height: 30px;
}
